.App {
  max-width: 860px;
  margin: 40px auto;
  text-align: center;
}

.btn-start-game{
  background: linear-gradient( #E44D26 50%, #F16529 50%);
  border: 2px solid #fff;
  padding: 6px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;

  transition: 0.4s;
}

.btn-start-game:hover{
  color: #000;
  background-color: #fff;
  transition: 0.5s;
}

.card-grid{
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .btn-start-game {
    animation: button-rotate infinite 5s linear;
  }
}

@keyframes button-rotate {
  from {
    transform: (0deg);
  }
  to {
    transform: rotateY(180deg);
    opacity: 0.4;
  }
}
